<section id="main-container">
    <mat-tab-group>
        <mat-tab label="Beginner">
            <section id="section-container">
                <mat-card class="example-card">
                    <mat-card-title>Create </mat-card-title>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </mat-card-content>
                    <button mat-button>Solution</button>
                </mat-card>
            </section>
        </mat-tab>
        <mat-tab label="Intermediate"> Content 2 </mat-tab>
        <mat-tab label="Advance"> Content 3 </mat-tab>
    </mat-tab-group>
</section>